{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<title>Платежные системы - CRM</title>
{% endblock %}


{% block home_section %}
<section class="home-section">
    <div class="home-content">
        <i class='bx bx-menu'></i>
        <span class="text">Меню</span>
    </div>
    <div class="container-fluid">
        <h1 class="mt-3">Список платежный средств</h1>
        <a class="btn btn-success mt-3" data-toggle="modal" data-target="#addClientModal">Добавить ПС</a>
        <table class="table table-striped mt-3">
            <thead>
            <tr>
                <th scope="col">ID ПС</th>
                <th scope="col">Имя ПС</th>
                <th scope="col">Сумма принятых</th>
                <th scope="col">Сумма потраченных</th>
                <th scope="col">Остаток</th>
                <th scope="col">Удаление ПС</th>
            </tr>
            </thead>
            <tbody>
            {% for paymethod, pay_get, pay_spend in pays_data %}
            <tr>
                <td>{{paymethod.id}}</td>
                <td class="client-username">{{paymethod.name}}</td>
                <td class="client-username">{{pay_get["result_sum"]}}</td>
                <td class="client-username">{{pay_spend["result_sum"]}}</td>
                <td class="client-username">{{pay_get["result_sum"] - pay_spend["result_sum"]}}</td>
                <!--                <td>-->
                <!--                    <form action="/clients/update_client" method="post">-->
                <!--                        <input type="hidden" name="client_id" value="">-->
                <!--                        <input type="text" name="new_username" value="">-->
                <!--                        <button type="submit" class="btn btn-success">Сохранить</button>-->
                <!--                    </form>-->
                <!--                </td>-->
                <td>
                    <form action="/pays-methods/del_pay_method" method="post">
                        <input type="hidden" name="method_id" value="{{paymethod.id}}">
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
            <!-- Дополнительные строки с данными заявок -->
            {% endfor %}
            </tbody>
        </table>
    </div>

</section>

<!--Modal Window for add new client-->
<div class="modal fade" id="addClientModal" tabindex="-1"
     aria-hidden="true" aria-labelledby="addClientModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addClientModalLabel">Добавить новое ПС/h5>
                    <button class="btn-close" data-dismiss="modal" aria-label="close">Закрыть</button>
            </div>
            <form method="post" action="/pays-methods/add_pay_method">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="mb-3">
                                <label class="form-label">Username исполнителя:</label>
                                <input type="text" class="form-control" placeholder="Введите username исполнителя"
                                       name="name">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button class="btn btn-secondary" type="submit">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Modal Window for add new client-->
{% endblock %}
